<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Error</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br><br><br><br>
<div class="container">
    <div class="card align-items-center">
        <div class="card-header" style="background:#ffffff;">
            <h2><span>Error 505</span></h2>
        </div>
        <div class="card-body">
            <h3>Oops! Ada yang salah. Harap coba lagi</h3>
        </div>
    </div>
</div>
</body>
</html>