<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Pasien</title>
</head>

<body>
<h2> Selamat datang di SIPAS</h2>
<h3> Tambah Pasien</h3>
<form th:action="@{/pasien/add}" method="POST">
        <input type ="hidden" th:field="${pasien.idPasien}" />
        Nama: <br>
        <label>
            <input type="text" th:field="${pasien.namaPasien}" name="namaPasien" />
        </label>
        <br>
        Kode: <br>
        <label>
            <input type="text" th:field="${pasien.kodePasien}" name="kodePasien" />
        </label>
        <br>
        NIK: <br>
        <label>
            <input type="text" th:field="${pasien.nikPasien}" name="nikPasien" />
        </label>
        <br>
        Jenis Kelamin: <br>
        <label>
            <input type="text" th:field="${pasien.jenisKelamin}" name="jenisKelamin" />
        </label>
        <br>
        Tanggal lahir: <br>
        <label>
            <input type="date" th:field="${pasien.tanggalLahir}" name="tanggalLahir" />
        </label>
        <br>
        Tempat Lahir: <br>
        <label>
            <input type="text" th:field="${pasien.tempatLahir}" name="tempatLahir" />
        </label>
        <br>
        <input type ="hidden" th:field="*{emergencyContact.idEC}" name="idEC"/>
        NIK EC: <br>
        <label>
            <input type="text" th:field="*{emergencyContact.nikEC}" name="nikEC" />
        </label>
        <br>
        Nama Emergency Contact: <br>
        <label>
            <input type="text" th:field="*{emergencyContact.namaEC}" name="namaEC" />
        </label>
        <br>
        Nomor Telepon EC: <br>
        <label>
            <input type="text" th:field="*{emergencyContact.hpEC}" name="hpEC" />
        </label>
        <br>
    <button type="submit"> Submit </button>
</form>
</body>
</html>