<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header h-100">Tambah Pasien</div>
                    <div class="card-body">
                        <form th:action="@{/pasien/add}" method="POST" th:object="${pasien}">
                            <input type ="hidden" th:field="*{idPasien}" />
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label> Nama:</label>
                                        <input type="text" th:field="*{namaPasien}" name="namaPasien" class="form-control" placeholder="Nama lengkap"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Kode: </label>
                                        <input type="text" th:field="*{kodePasien}" name="kodePasien" class="form-control"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>NIK: </label>
                                        <input type="text" th:field="*{nikPasien}" name="nikPasien" class="form-control" placeholder="NIK pasien"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Jenis Kelamin: </label>
                                        <select th:field="*{jenisKelamin}" name="jenisKelamin" class="form-control">
                                            <option th:value="1" th:text="Laki-laki"></option>
                                            <option th:value="2" th:text="Perempuan"></option>
                                        </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Asuransi: </label>
                                    <div class="input-group">
                                        <select th:each="pasienIn, iterationStatus : *{listAsuransi}"
                                                th:field="${pasien.listAsuransi[__${iterationStatus.index}__].idAsuransi}" class="form-control">
                                            <option value="">Pilih Asuransi</option>
                                            <option th:each="asuransiIn : ${asuransi}"
                                                    th:value="${asuransiIn.idAsuransi}"
                                                    th:text="${asuransiIn.namaAsuransi}">
                                            </option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button type="submit" name="addRow" class="btn btn-primary">Add Row</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Tanggal lahir: </label>
                                        <input type="date" th:field="*{tanggalLahir}" name="tanggalLahir" class="form-control"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Tempat Lahir: </label>
                                        <input type="text" th:field="*{tempatLahir}" name="tempatLahir" class="form-control" placeholder="Kota lahir pasien"/>
                                </div>
                            </div>
                            <input type ="hidden" th:field="${emergencyContact.idEC}" name="idEC" class="form-control"/>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>NIK EC: </label>
                                        <input type="text" th:field="${emergencyContact.nikEC}" name="nikEC" class="form-control" placeholder="NIK kontak darurat"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Nama Emergency Contact: </label>
                                        <input type="text" th:field="${emergencyContact.namaEC}" name="namaEC" class="form-control" placeholder="Nama kontak darurat"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Nomor Telepon EC: </label>
                                        <input type="text" th:field="${emergencyContact.hpEC}" name="hpEC" class="form-control" placeholder="Nomor telepon kontak darurat"/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"> Submit </button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>